body{
    margin: 0;
    padding: 10px;
    background-color: blueviolet;
    height: 100vh;


}

.capa{
    
    max-width: 100%; 
    padding: 0px;
    height: 95vh;
    background-color: aqua;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
}

h1{
    text-align: center;
}

footer{
    width: 100px;
    height: 30px;
    background-color: beige;
    text-align: center;


}